<div class="page-wrap">
  <div class="side-bar">
    <a href="" class="site-title fs-6 lh-tight">@silmar/ng-core</a>
    <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button"
                               data-text-toggle="Hide">Menu</button></span>
    <div class="navigation main-nav js-main-nav">
      <nav role="navigation" aria-label="Main navigation">
        <ul class="navigation-list">
          <!-- ========= MENU ===========  -->
          <li class="navigation-list-item active"><a href="#getting-started" class="navigation-list-link">Getting
            Started</a></li>
          <li class="navigation-list-item active"><a href="#arrays" class="navigation-list-link">ArraysModule</a></li>
          <li class="navigation-list-item active"><a href="#events"
                                                     class="navigation-list-link">EventModifiersModule</a></li>
          <li class="navigation-list-item active"><a href="#busy" class="navigation-list-link">BusyModule</a></li>
          <li class="navigation-list-item active"><a href="#colors" class="navigation-list-link">ColorsModule</a></li>
          <li class="navigation-list-item active"><a href="#geo" class="navigation-list-link">GeoModule</a></li>
          <li class="navigation-list-item active"><a href="#xr" class="navigation-list-link">MoneyXrModule</a></li>
          <li class="navigation-list-item active"><a href="#md" class="navigation-list-link">MdModule</a></li>
          <li class="navigation-list-item active"><a href="#seo" class="navigation-list-link">SeoModule</a></li>
          <li class="navigation-list-item active"><a href="#storage" class="navigation-list-link">StorageModule</a></li>
          <li class="navigation-list-item active"><a href="#strings" class="navigation-list-link">StringsModule</a></li>
          <li class="navigation-list-item active"><a href="#imagekit" class="navigation-list-link">ImageKitModule</a>
          </li>
          <li class="navigation-list-item active"><a href="#validator" class="navigation-list-link">TranslatorModule</a>
          </li>
          <li class="navigation-list-item active">
            <a href="#push-notifications" class="navigation-list-link">PushNotifications</a></li>
          <!-- ========= MENU ===========  -->
        </ul>
      </nav>

    </div>
    <footer role="contentinfo" class="site-footer">
      <p class="text-small text-grey-dk-000 mb-0">This site uses <a
        href="https://github.com/pmarsceill/just-the-docs">Just the Docs</a>, a documentation theme for
        Jekyll.</p>
    </footer>
  </div>
  <div class="main-content-wrap js-main-content" tabindex="0">
    <div class="page-header">
      <div class="main-content">
        <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
          <li class="d-inline-block my-0"><a href="https://gitlab.com/etg-public/silmar-ng-core">The
            project on Gitlab</a></li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div id="main-content" class="page-content" role="main">
        <!-- ========= CONTENT ===========  -->

        <h1 class="fs-9">Silmar-NgCore</h1>

        <p class="fs-6 fw-300">A bunch of useful Angular 9+ pipes, directives and components.</p>

        <p><a href="#getting-started" class="btn btn-primary fs-5 mb-4 mb-md-0 mr-2">Get started now</a> <a
          href="https://gitlab.com/etg-public/silmar-ng-core" class="btn fs-5 mb-4 mb-md-0">View it
          on Gitlab</a></p>

        <!-- Getting Started -->
        <h2 id="getting-started">Getting started</h2>

        <ol>
          <li>To install the package:
            <pre><code class="shell">{{txt['install']}}</code></pre>
          </li>

          <li>Available modules:
            <ul>
              <li><code>ArraysModule</code> Pipes for array manipulation</li>
              <li><code>EventModifiersModule</code> Event click handlers with modifiers</li>
              <li><code>BusyModule</code> Busy overlay component</li>
              <li><code>ColorsModule</code> Pipe that can generate material color given any string</li>
              <li><code>GeoModule</code> Components for google maps embedding and flag. Depends on flag icons:
                <pre><code class="shell">yarn add flag-icons</code></pre>
                Import the stylesheet in your <code>styles.scss</code>
                <pre><code class="scss">@import "../node_modules/flag-icons/sass/flag-icons.scss";</code></pre>
              </li>
              <li><code>MoneyXrModule</code> Service to load and use with currency exchange rates. The service can work
                with any API that returns fixer.io formatted data.
              </li>
              <li><code>LoggerModule</code> Provides logging service</li>
              <li><code>MdModule</code> Markdown pipe and service. Depends on marked
                <pre><code class="shell">yarn add marked</code></pre>
              </li>
              <li><code>SeoModule</code> Very basic and simple Google Analytics service</li>
              <li><code>StorageModule</code> Abstraction over local storage, session storage, cookie and memory storage
                with Universal support.
              </li>
              <li><code>StringsModule</code> Useful pipes and directives for strings manipulation. Depends on md5
                package
                <pre><code class="shell">yarn add ts-md5</code></pre>
              </li>
              <li><code>ImageKitModule</code> Components and directives for easy working with <a
                href="https://docs.imagekit.io/" target="_blank">ImageKit</a></li>
              <li><code>TranslatorModule</code> i18n pipe and service if you need something simpler than the Angular
                translation services
              </li>
              <li><code>ValidatorsModule</code> Some useful form validatorss</li>
            </ul>
            <pre><code class="typescript">{{txt['arrays_module']}}</code></pre>
          </li>

          <li>Available services:
            <ul>
              <li><code>PingFactory</code> Factory that can create PingService object</li>
              <li><code>FastDomService</code> Port of <a href="https://github.com/wilsonpage/fastdom/">fastdom.js</a>
                for Angular
              </li>
            </ul>
          </li>

          <li><span class="label label-green">TIP</span> You can safely use any of the modules with <code>@angular/universal</code>
          </li>
        </ol>

        <!-- == Usage == -->
        <!-- Arrays -->
        <h2 id="arrays">ArraysModule</h2>
        <h3>Import</h3>
        <pre><code class="typescript">{{txt['arrays_module']}}</code></pre>

        <h3>Filter pipe</h3>
        <p class="fs-3">Firs create a filtering function:</p>
        <pre><code class="typescript">{{txt['filter']}}</code></pre>
        <p class="fs-3">Then use the pipe in your template:</p>
        <pre><code class="typescript">{{txt['filter_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{[4, 13, 29, 5, 33, 0] | filter:filterAdults}}</p>

        <h3>Shuffle pipe</h3>
        <p class="fs-3">Use the pipe in your template:</p>
        <pre><code class="typescript">{{txt['shuffle_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] | shuffle}}</p>

        <!-- == Usage == -->
        <!-- Events -->
        <h2 id="events">EventModifiersModule</h2>
        <h3>Import</h3>
        <pre><code class="typescript">{{txt['events_module']}}</code></pre>

        <p class="fs-3">Each directive has inputs <code>prevent</code> and <code>stop</code>. If set to true they will
          prevent the default behaviour or stop the event propagation</p>

        <h3>Stop event porpagation</h3>
        <p class="fs-3">The click event's propagation will be stopped:</p>
        <pre><code class="typescript">{{txt['events_stop']}}</code></pre>

        <h3>Prevent event defaults</h3>
        <p class="fs-3">Prevents the default behaviour of a click:</p>
        <pre><code class="typescript">{{txt['events_prevent']}}</code></pre>

        <h3>Self click</h3>
        <p class="fs-3">Only trigger handler if event.target is the element itself i.e. not from a child element:</p>
        <pre><code class="typescript">{{txt['events_self']}}</code></pre>

        <h3>Click once</h3>
        <p class="fs-3">The click event will be triggered at most once:</p>
        <pre><code class="typescript">{{txt['events_once']}}</code></pre>

        <h3>Click outside</h3>
        <p class="fs-3">The click event will be triggered only if clicked outside the current element:</p>
        <pre><code class="typescript">{{txt['events_outside']}}</code></pre>

        <!-- Busy -->
        <h2 id="busy">BusyModule</h2>

        <input type="button" (click)="busyOn()" [value]="'Show'"/>
        <input type="button" (click)="busyOff()" [value]="'Hide'"/>

        <div style="position:relative;">
          <h3 [siBusy]="busy$">Import</h3>
          <pre><code class="typescript">{{txt['busy_module']}}</code></pre>

          <h3>Usage</h3>
          <p>Simply use the <code>siBusy</code> directive and pass the subscription to it. The subscription can be any
            custom rxjs subscription or one from HTTP call</p>
          <pre><code class="typescript">{{txt['busy_use']}}</code></pre>
        </div>


        <!-- Colors -->
        <h2 id="colors">ColorsModule</h2>
        <h3>Import</h3>
        <pre><code class="typescript">{{txt['colors_module']}}</code></pre>

        <h3>Hash coloring pipe</h3>
        <p>Given a string the pipe will return a color based on material pallete, the pallete can be configured as a
          parameter</p>
        <pre><code class="typescript">{{txt['colors_use']}}</code></pre>
        <p><span class="label label-purple">Result</span>
          <span [style.background-color]="'first' | hashColor">&nbsp;first&nbsp;</span>&nbsp;
          <span [style.background-color]="'second' | hashColor">&nbsp;second&nbsp;</span>&nbsp;
          <span [style.background-color]="'third' | hashColor">&nbsp;third&nbsp;</span>&nbsp;
          <span [style.background-color]="'first' | hashColor: '100'">&nbsp;first&nbsp;</span>
        </p>


        <!-- GEO -->
        <h2 id="geo">GeoModule</h2>
        <p>The Geo module has two components, FlagComponent and GmapsEmbedComponent, one directive GmapsLoaderDirective
          and one service GmapsGeocodingService</p>
        <h3>Import</h3>
        <pre><code class="typescript">{{txt['geo_module']}}</code></pre>

        <h3>FlagComponent</h3>
        <p class="fs-3">To use the flag component you need to install the flag svg library:</p>
        <pre><code class="shell">{{txt['geo_flag_install']}}</code></pre>
        <p class="fs-3">Import the stylesheet in your styles.scss:</p>
        <pre><code class="scss">{{txt['geo_flag_import']}}</code></pre>
        <p class="fs-3">Then use the component in your template:</p>
        <pre><code class="typescript">{{txt['geo_flag_use']}}</code></pre>
        <p><span class="label label-purple">Result</span>
          <si-flag country="de"></si-flag>&nbsp;<si-flag country="fr" [round]="true"></si-flag>&nbsp;<si-flag
            country="gb" [square]="true"></si-flag>
        </p>

        <h3>Google Maps Helpers</h3>
        <pre><code class="typescript">{{txt['geo_map_install']}}</code></pre>
        <pre><code class="typescript">{{txt['geo_map_module']}}</code></pre>

        <h4>Gmaps Loader</h4>
        Wrap @angular/google-maps component in `*siGmapsLoader` in order to ensure the Google Maps API is loaded

        <h4>Example</h4>
        <pre><code class="typescript">{{txt['geo_map_use']}}</code></pre>

        <p><span class="label label-yellow">NOTE!</span> If you want to use to handle (siGmapsLoaderReady) event you
          must de-sugarize the strutural directive
          due to bug in Angular (<a href="https://github.com/angular/angular/issues/12121" target="_blank">GitHub
            issue</a>)</p>
        <p>(siGmapsLoaderReady) emits when Google Maps API is loaded but not when your google map is ready and
          initialised.
          See `Gmaps Ready` section below</p>
        <pre><code class="typescript">{{txt['geo_map_onready_use']}}</code></pre>

        <google-map *siGmapsLoader></google-map>

        <h4>Gmaps Ready</h4>
        @angular/google-maps does not provide (ready) event so we've patched this.
        <pre><code class="typescript">{{txt['geo_map_mapready_use']}}</code></pre>

        <h4>GmapsEmbed</h4>
        <!--@formatter:off-->
        <table>
          <tbody>
          <tr><td>lat</td><td>Latitude of the place</td><td>Ex: <code>'48.858837'</code></td></tr>
          <tr><td>lng</td><td>Longitude of the place</td><td>Ex: <code>'2.277020'</code></td></tr>
          <tr><td>zoom</td><td>Map zoom</td><td>Default: <code>8</code></td></tr>
          <tr><td>mode</td><td>One of 'place', 'directions' or 'search'</td><td>Default: <code>'place'</code></td></tr>
          <tr><td>q</td><td>When mode is 'search', this is the query we are searching for</td><td>Ex: <code>'Eiffel Tower, Paris, France'</code></td></tr>
          <tr><td>origin</td><td>When mode is 'directions', this is the start point</td><td></td></tr>
          <tr><td>destination</td><td>When mode is 'directions', this is the destination point</td><td></td></tr>
          <tr><td>directionsMode</td><td>When mode is 'directions': one of 'driving', 'walking', 'bicycling', 'transit' or 'flying'</td><td></td></tr>
          <tr><td>waypoints</td><td>When mode is 'directions'</td><td><a href="https://developers.google.com/maps/documentation/javascript/directions#Waypoints">Using Waypoints in Routes</a></td></tr>
          <tr><td>avoid</td><td>When mode is 'directions': string or array of strings</td><td>'avoidFerries', 'avoidHighways', 'avoidTolls'</td></tr>
          <tr><td>styleClass</td><td>Add CSS class</td><td></td></tr>
          <tr><td>style</td><td>Add CSS inline styles</td><td>Default: <code>{{'{'}}width: '100%', height: '300px'}</code></td></tr>
          </tbody>
        </table>
        <!--@formatter:on-->

        <h4>Example</h4>
        <div>
          <label class="mr-2">
            Mode:
            <select [(ngModel)]="mode" class="select is-fullwidth">
              <option value="search">search</option>
              <option value="place">place</option>
            </select>
          </label>
          <ng-container *ngIf="mode == 'search'">
            <label class="mr-2">Latitude: <input class="input" type="number"
                                                 [(ngModel)]="lat" step="0.000001"/></label>
            <label class="mr-2">Longitude: <input class="input" type="number"
                                                  [(ngModel)]="lng" step="0.000001"/></label>
          </ng-container>
          <ng-container *ngIf="mode == 'place'">
            <label class="mr-2">Place name: <input type="text" [(ngModel)]="place"/></label>
          </ng-container>
          <label>Zoom: <input class="input" type="number" [(ngModel)]="zoom"/></label>
        </div>
        <pre><code class="typescript">{{txt['geo_map_embed_use']}}</code></pre>

        <si-gmaps-embed [lat]="lat" [lng]="lng" [zoom]="zoom" [mode]="mode" [q]="place"></si-gmaps-embed>


        <!-- MD -->
        <h2 id="md">MdModule</h2>
        <h3>Import</h3>
        <pre><code class="typescript">{{txt['md_module']}}</code></pre>

        <h4>Markdown Config</h4>
        <p>The following configuration properties are passed to the internal markedjs object, note that not all of the
          configuration properties of the markedjs are available here.</p>
        <p>For more info about marked and its configuration <a href="https://marked.js.org/#/USING_ADVANCED.md#options"
                                                               target="_blank">see here</a></p>
        <!--@formatter:off-->
        <table>
          <tbody>
          <tr><td>gfm</td><td>If true, use approved GitHub Flavored Markdown (GFM) specification.</td><td>Default: <code>true</code></td></tr>
          <tr><td>renderer</td><td>An object containing functions to render tokens to HTML. </td><td>See <a href="https://marked.js.org/USING_PRO.md" target="_blank">extensibility</a> for more details.</td></tr>
          <tr><td>tables</td><td><b>DEPRECATED:</b> If true and gfm is true, use GFM Tables extension.</td><td>Default: <code>true</code></td></tr>
          <tr><td>breaks</td><td>If true, add <code>&lt;br&gt;</code> on a single line break (copies GitHub). Requires gfm be true.</td><td>Default: <code>false</code></td></tr>
          <tr><td>pedantic</td><td>If true, conform to the original markdown.pl as much as possible.</td><td>Default: <code>false</code></td></tr>
          <tr><td>sanitize</td><td><b>DEPRECATED:</b> If true, sanitize the HTML passed into markdownString with the sanitizer function.</td><td>Default: <code>false</code></td></tr>
          <tr><td>smartLists</td><td>If true, use smarter list behavior than those found in markdown.pl</td><td>Default: <code>false</code></td></tr>
          <tr><td>smartypants</td><td>If true, use "smart" typographic punctuation for things like quotes and dashes.</td><td>Default: <code>false</code></td></tr>
          </tbody>
        </table>
        <!--@formatter:on-->

        <h3>Markdown pipe</h3>
        <p>This pipe can parse markdown to HTML, use <code>[innerHtml]</code> binding or else Angular will sanitize the
          HTML output</p>

        <h4>Parsed (HTML)</h4>
        <pre><code class="typescript">{{txt['md_use_html']}}</code></pre>
        <div [innerHtml]="markdownText | md" class="hljs"></div>


        <h4>Parsed (plain text, this in essence will remove any markdown from the text)</h4>
        <pre><code class="typescript">{{txt['md_use_simple']}}</code></pre>
        <div [innerHtml]="markdownText | md:true" class="hljs"></div>

        <!-- SEO -->
        <h2 id="seo">SeoModule</h2>
        <p>This SEO module has one very simple Google Analytics service.</p>

        <h3>Import</h3>
        <p>You need to include the standart GA javascript code in your <code>index.html</code> and then use the below
          import</p>
        <pre><code class="typescript">{{txt['seo_module']}}</code></pre>

        <h3>Google Analytics Service</h3>
        <h4>Track pageview</h4>
        <pre><code class="typescript">{{txt['seo_track']}}</code></pre>

        <h4>Track events</h4>
        <pre><code class="typescript">{{txt['seo_event']}}</code></pre>

        <h4>Track timing events</h4>
        <pre><code class="typescript">{{txt['seo_timing']}}</code></pre>


        <!-- Storage -->
        <h2 id="storage">StorageModule</h2>
        <p>Abstraction over local storage, session storage, cookie and memory storage with Universal support.</p>

        <h3>Import</h3>
        <pre><code class="typescript">{{txt['storage_module']}}</code></pre>

        <h3>Usage</h3>
        <p>Simply inject the desired storage provider in the constructor of your component.</p>
        <p>The available storage providers:</p>
        <ul>
          <li>LocalStorage</li>
          <li>SessionStorage</li>
          <li>CookieStorage</li>
          <li>MemoryStorage</li>
        </ul>
        <h4>Overview of the available methods</h4>
        <pre><code class="typescript">{{txt['storage_use']}}</code></pre>

        <h4>Cookie Storage</h4>
        <p>The <code>CookieStorage</code> has extra arguments for some of the methods</p>

        <h5>removeItem</h5>
        <!--@formatter:off-->
        <table>
          <tbody>
          <tr><td>key</td><td>string</td><td>The value key</td></tr>
          <tr><td>domain</td><td>string</td><td>Domain under which the cookie is available</td></tr>
          <tr><td>path</td><td>string</td><td>Path under which the cookie is available</td></tr>
          </tbody>
        </table>
        <!--@formatter:on-->

        <h5>setItem</h5>
        <!--@formatter:off-->
        <table>
          <tbody>
          <tr><td>key</td><td>string</td><td>The value key</td></tr>
          <tr><td>value</td><td>string</td><td>The value</td></tr>
          <tr><td>ttl</td><td>number</td><td>Validity in seconds (dimension may be changed via <code>dimension</code>)</td></tr>
          <tr><td>dimension</td><td>string</td><td><code>minutes</code>, <code>hours</code>, <code>days</code> or leave empty for seconds</td></tr>
          <tr><td>domain</td><td>string</td><td>Domain under which the cookie is available</td></tr>
          <tr><td>path</td><td>string</td><td>Path under which the cookie is available</td></tr>
          <tr><td>secure</td><td>boolean</td><td>Set secure cookie flag</td></tr>
          </tbody>
        </table>
        <!--@formatter:on-->


        <!-- Strings -->
        <h2 id="strings">StringsModule</h2>
        <h3>Import</h3>
        <pre><code class="typescript">{{txt['strings_module']}}</code></pre>

        <h3>Capitalize pipe</h3>
        <pre><code class="typescript">{{txt['capitalize_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{'capitalize pipe'|capitalize}}</p>
        <pre><code class="typescript">{{txt['capitalize_every_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{'capitalize every word pipe'|capitalize:true}}</p>

        <h3>Highlight pipe</h3>
        <p class="fs-3">This pipe returns HTML, use <code>[innerHtml]</code> binding</p>
        <pre><code class="typescript">{{txt['highlight_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> <span
          [innerHtml]="'Highlight within text pipe' | highlight:'within'"></span></p>

        <h3>Join pipe</h3>
        <pre><code class="typescript">{{txt['join_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{ ['Eiffel Tower', 'Paris', 'France'] | join:', '}}</p>

        <h3>Repeat pipe/directive</h3>
        <p>Use the pipe when you need to repeat strings</p>
        <pre><code class="typescript">{{txt['repeat_pipe_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{'★' | repeat:5}}</p>
        <p>Use the directive when you need to repeat elements</p>
        <pre><code class="typescript">{{txt['repeat_dir_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> <i class="fa fa-star" *siRepeat="5"></i></p>

        <h3>Substitute pipe</h3>
        <pre><code class="typescript">{{txt['substitute_use']}}</code></pre>
        <p><span
          class="label label-purple">Result</span> {{"The quick {color} fox jumps over the lazy {animal}" | substitute:{
          color: "brown",
          animal: "dog"
        } }}</p>
        <p>Substitute with incomplete set of data</p>
        <pre><code class="typescript">{{txt['substitute_missing_use']}}</code></pre>
        <p><span
          class="label label-purple">Result</span> {{"The quick {color} fox jumps over the lazy {animal}" | substitute:{color: ""} }}
        </p>

        <h3>Trim pipe</h3>
        <pre><code class="typescript">{{txt['trim_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{' John Doe ' | trim}}</p>
        <pre><code class="typescript">{{txt['trim_p_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{'+1234567890 ' | trim:'+'}}</p>

        <h3>Truncate pipe</h3>
        <pre><code class="typescript">{{txt['truncate_use']}}</code></pre>
        <p><span class="label label-purple">Result</span> {{'Chuck Norris counted to infinity... twice.' | truncate:15}}
        </p>
        <pre><code class="typescript">{{txt['truncate_p_use']}}</code></pre>
        <p><span
          class="label label-purple">Result</span> {{'Chuck Norris counted to infinity... twice.' | truncate:3:'...':true}}
        </p>

        <!-- ImageKit -->
        <h2 id="imagekit">ImageKitModule</h2>
        <p>An angular wrapper around <a href="https://docs.imagekit.io/" target="_blank">ImageKit</a> it is somewhat
          similar to the ThumborModule, but it has some differences.</p>

        <h3>Basic ({{ikWidth}}x{{ikHeight}})</h3>
        <div>Width: <input type="button" (click)="ikWidth = 150" value="150px"/>
          <input type="button" (click)="ikWidth = 250" value="250px"/>
          <input type="button" (click)="ikWidth = 350" value="350px"/>
          <input type="button" (click)="ikWidth = 450" value="450px"/>
          <input type="button" (click)="ikWidth = 550" value="550px"/>
        </div>
        <div>Height: <input type="button" (click)="ikHeight = 150" value="150px"/>
          <input type="button" (click)="ikHeight = 250" value="250px"/>
          <input type="button" (click)="ikHeight = 350" value="350px"/>
          <input type="button" (click)="ikHeight = 450" value="450px"/>
          <input type="button" (click)="ikHeight = 550" value="550px"/>
        </div>
        <div>Focus (choose width/height - 250/350 or similar): <input type="button" (click)="ikFocus = 'center'"
                                                                      value="center"/>
          <input type="button" (click)="ikFocus = 'bottom_right'" value="bottom_right"/>
          <input type="button" (click)="ikFocus = 'top'" value="top"/>
          <input type="button" (click)="ikFocus = 'auto'" value="auto"/>
        </div>

        <!--@formatter:off-->
        <pre><code class="typescript">&lt;img siImageKit="default-image_6ZRWK2sTe.jpg" [width]="{{ikWidth}}" [height]="{{ikHeight}} [focus]="{{ikFocus}}" "/&gt;</code></pre>
        <!--@formatter:on-->

        <img siImageKit="default-image_6ZRWK2sTe.jpg" [width]="ikWidth" [height]="ikHeight" [focus]="ikFocus"/>


        <h3>Picture with srcset</h3>
        <p>Create a picture HTML element</p>

        <pre><code class="typescript">{{txt['ik_picture']}}</code></pre>

        <si-imagekit-picture path="default-image_6ZRWK2sTe.jpg" [x2]="true" [width]="320" [height]="200"
                             [bySize]="{'phone':100,'(max-width: 1060px)':'300x200', 'hd':400, 'fullhd': 600}"></si-imagekit-picture>


        <h3>Pass advanced transformations</h3>
        <p>You can pass array of one or more chained <a
          href="https://docs.imagekit.io/?ref=dashboard#image-transformations" target="_blank">transformations</a>
        </p>

        <pre><code class="typescript">{{txt['ik_transforms']}}</code></pre>

        <img siImageKit="default-image_6ZRWK2sTe.jpg"
             [transforms]="[{rt:90,bg:'000000'}, {w:180,h:240,c:'at_least'}, {b:'10_FF5000'}, {r:5}]"/>

        <!-- PushNotifications -->
        <h2 id="push-notifications">PushNotifications</h2>
        <p>An Angular wrapper around the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Notification"
                                            target="_blank">Notifications API</a>.
          Fork of the abandoned project <a href="https://github.com/flauc/ng-push">ng-push</a>.
          Angular Universal compatible.
        </p>
        <button (click)="pushNotification.requestPermission()">Request permission</button>
        <br/><br/>
        <button (click)="createPushNotification()">Push
          notification
        </button>

        <!-- ========= END CONTENT ===========  -->

        <hr>

        <h2 id="about-the-project">About the project</h2>

        <p>@silmar/ng-core is developed by the small but fierce :) development team of <a
          href="https://www.expobeds.com">Expo Travel Group</a>.</p>

        <h3 id="license">License</h3>

        <p>This project is distributed under <a
          href="https://gitlab.com/etg-public/silmar-ng-core/blob/master/LICENSE">MIT license</a>.
        </p>
      </div>
    </div>
  </div>
</div>
