.ng-busy {
    z-index: 902;
}

.ng-busy, .ng-busy > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ng-busy-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 901;
    background: #fff;
    opacity: .7;
    animation: showBackdrop 0.2s ease-out 1;
}

@keyframes dropNgBusy {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes showBackdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}

.ng-busy-default-wrapper {
    text-align: center;
    overflow: hidden;
}

.ng-busy-default-sign {
    position: relative;
    display: inline-block;
    z-index: 903;
    padding: 10px 20px;
    border: 1px solid #d8d8d8;
    border-top: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: rgba(248, 248, 248, 0.8);
    color: #212121;
}

.ng-busy-default-sign > * {
    color: rgba(0, 0, 0, .7);
}
